* {
  padding: 0px;
  margin: 0px;
  box-sizing: bolder-box;
  // border: solid 1px red;
}
body {
  //position: absolute;
}
.heart {
  position: fixed;
  width: 100px;
  height: 100px;
  margin: 35%;
  transition: all 2s cubic-bezier(0.37, 0, 0.63, 1) 0.2s;
  //transition:all 20s linear 0.2s;
}
//.heart:hover {
  transform: rotate(660deg);
  margin: 0px;
}
.h1 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #f88;
}
.h2 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 50%;
  background-color: #f88;
}
.h3 {
  height: 49px;
  width: 49px;
  position: absolute;
  top: 21px;
  left: 21px;
  transform: rotate(45deg);
  background-color: #f88;
}
.heart{
  //position:relative;
  animation-name:bom;
  animation-duration:3s;
  animation-iteration-count:infinite;
}
@keyframes bom{
  0%{
   
  }
  20%{
  transform:scale(3)rotate(-360deg);}
  50%{
    transform:scale(1);
  }
  70%{
   transform:scale(2);
  }
  80%{
     transform:scale(0.5);
  }
  90%{
   transform:scale(2);
  }
}